{% extends "base.html" %} {% block title %}{{ title }}{% endblock %} {% block content %}
<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-white w3-xlarge w3-padding-16">
    <span class="w3-left w3-padding">Análise de Gastos Públicos</span>
    <a href="javascript:void(0)" class="w3-right w3-button w3-white" onclick="w3_open()">☰</a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:83px"></div>

    <!-- Team section -->
    <div class="w3-container w3-center w3-padding-32" id="team">
        <h4><b>Equipe</b></h4>
    </div>

    <!-- Photo grid -->
    <div class="w3-row text-center">
        <div class="img-responsive center-block">
            <img src="/static/img/gui.jpeg" class="img-thumbnail rounded" onclick="onClick(this)" alt="Guilherme Costi" style="width:200px; height:263.5px;">
            <img src="/static/img/francisco.jpg" width="200" height="263.5" class="img-thumbnail rounded" onclick="onClick(this)" alt="Francisco Forestiero" style="width:200px;height: 263.5px;">
            <img src="/static/img/ra.jpg" width="200" height="263.5" class="img-thumbnail rounded" onclick="onClick(this)" alt="Raquel Debczinsky" style="width:200px;height: 263.5px;">
            <img src="/static/img/gui-lud.jpg" class="img-thumbnail rounded" onclick="onClick(this)" alt="Guilherme Ludwig" style="width:200px;height: 263.5px;">
            <img src="/static/img/will.jpg" class="img-thumbnail rounded" onclick="onClick(this)" alt="Wiliam Outi" style="width:200px;height: 263.5px;">
        </div>
    </div>

    <!-- Pagination -->
    <div class="w3-center w3-padding-32">
        <div class="w3-bar">
        </div>
    </div>

    <!-- Modal for full size images on click-->
    <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
        <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
        <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
            <img id="img01" class="w3-image">
            <p id="caption"></p>
        </div>
    </div>

    <!-- About section -->
    <div class="w3-container w3-dark-grey w3-center w3-text-light-grey w3-padding-32" id="about">
        <h4><b>Sobre</b></h4>
        <div class="w3-content w3-justify" style="max-width:600px">
            <h4>Proposta</h4>
            <p>A proposta do nosso trabalho é analisar os gastos do Portal da Transparência, para detectarmos anomalias no sistema público. Nossa equipe é composta por 5 cientistas de dados que vieram de diversas áreas de atuação diferente e o projeto teve inicio na conclusão do curso de Data Science. Realizamos a coleta de um intervalo específico de tempo no Portal da Transparência, através da API que eles disponiblizam. Depois da coleta dos dados, iniciamos o entendimento das features e identificamos que era viável realizar o estudo planejado.
            </p>
            <p>
                Em sequência, fomos para a análise exploratória dos dados e realizamos as transformações necessárias para o treinamento do modelo. Efetuamos o Feature Engeneering e elencamos alguns modelos para solucionar o problema. Para o Modelo de Machine Learning, optamos pela Isolation Forest, pois é um modelo determinístico e interpretável, e realizamos o treinamento, seguido da identificação dos gastos anômalos. Após a classificação, realizamos um estudo para entender se os gastos anômalos realmente poderiam ser classificados assim, e concluímos que o modelo conseguiu identificá-los com sucesso.
            </p>
            <p>
                Após a classificação, elencamos os TOP 10 funcionários públicos que possuíam gastos anômalos e criamos nosso ranking. Nosso propósito com esse projeto era de trazer ainda mais transparência para os gastos públicos, na busca de conseguirmos um país mais justo.
            </p>
            </br>
            <p>
                <h4>Integrantes:</h4></p>
            <p>- Francisco Forestiero (<a href="mailto:francisco.forestiero@hotmail.com">francisco.forestiero@hotmail.com</a>)</p>
            <p>- Guilherme Ludwig (<a href="mailto:guilhermegludwig@gmail.com">guilhermegludwig@gmail.com</a>)</p>
            <p>- Guilherme Costi (<a href="mailto:costi.guilherme@gmail.com">costi.guilherme@gmail.com</a>)</p>
            <p>- Raquel Debczinsky (<a href="mailto:debczynski.raquel@gmail.com">debczynski.raquel@gmail.com</a>)</p>
            <p>- Wiliam Outi (<a href="mailto:wouti@oul.com.br">wouti@oul.com.br</a>)</p>
            <hr class="w3-opacity">
            <h4 class="w3-padding-16">Esforço por Etapa</h4>
            <p class="w3-wide">Coleta dos Dados</p>
            <div class="w3-white">
                <div class="w3-container w3-padding-small w3-center w3-blue" style="width:5%">5%</div>
            </div>
            <p class="w3-wide">Análise dos Dados & Estratégias</p>
            <div class="w3-white">
                <div class="w3-container w3-padding-small w3-center w3-blue" style="width:50%">50%</div>
            </div>
            <p class="w3-wide">Feature Engeneering</p>
            <div class="w3-white">
                <div class="w3-container w3-padding-small w3-center w3-blue" style="width:20%">20%</div>
            </div>
            <p class="w3-wide">Treinamento e Aplicação do Machine Learning</p>
            <div class="w3-white">
                <div class="w3-container w3-padding-small w3-center w3-blue" style="width:15%">15%</div>
            </div>
            <p class="w3-wide">Construção da Apresentação do Projeto</p>
            <div class="w3-white">
                <div class="w3-container w3-padding-small w3-center w3-blue" style="width:10%">10%</div>
            </div>
            <hr class="w3-opacity">
        </div>
    </div>

    <!-- Overview section -->
    <div class="w3-container w3-center w3-padding-32" id="overview">
        <h4><b>Overview</b></h4>
        <div class="w3-content w3-justify" style="max-width:1000px; max-heitgh:1800px">

            <div class='tableauPlaceholder' id='viz1583697232180' style='position: relative'>
                <noscript>
                    <a href='#'>
                        <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ga&#47;Gastospblicosnocartodecrdito&#47;Gastoscomcartopblico&#47;1_rss.png' style='border: none' />
                    </a>
                </noscript>
                <object class='tableauViz' style='display:none;'>
                    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                    <param name='embed_code_version' value='3' />
                    <param name='site_root' value='' />
                    <param name='name' value='Gastospblicosnocartodecrdito&#47;Gastoscomcartopblico' />
                    <param name='tabs' value='no' />
                    <param name='toolbar' value='yes' />
                    <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ga&#47;Gastospblicosnocartodecrdito&#47;Gastoscomcartopblico&#47;1.png' />
                    <param name='animate_transition' value='yes' />
                    <param name='display_static_image' value='yes' />
                    <param name='display_spinner' value='yes' />
                    <param name='display_overlay' value='yes' />
                    <param name='display_count' value='yes' />
                    <param name='filter' value='publish=yes' />
                </object>
            </div>
            <script type='text/javascript'>
                var divElement = document.getElementById('viz1583697232180');
                var vizElement = divElement.getElementsByTagName('object')[0];
                if (divElement.offsetWidth > 800) {
                    vizElement.style.width = '1600px';
                    vizElement.style.height = '1625px';
                } else if (divElement.offsetWidth > 500) {
                    vizElement.style.width = '1600px';
                    vizElement.style.height = '1627px';
                } else {
                    vizElement.style.width = '100%';
                    vizElement.style.height = '1677px';
                }
                var scriptElement = document.createElement('script');
                scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                vizElement.parentNode.insertBefore(scriptElement, vizElement);
            </script>

        </div>
    </div>

    <!-- Top10 section -->
    <div class="w3-container w3-dark-grey w3-center w3-text-light-grey w3-padding-32" id="top10">
        <div class="w3-content" style="max-width:100%">
            
            <h4 class="w3-center"><b>TOP 10</b></h4>

            <div class="limiter">
                <div class="container-table100">
                    <div class="wrap-table100">
                        <div class="table100">
                            <table>
                                <thead>
                                    <tr class="table100-head">
                                        <th class="column1"><b>Portador</b>  {% include 'icons/person.html' %}</th>
                                        <th class="column2"><b>CPF/ CNPJ</b>  {% include 'icons/cpf.html' %}</th>
                                        <th class="column4"><b>Gastos</b>  {% include 'icons/barchart.html' %}</th>
                                        <th class="column5"><b>Status</b>  {% include 'icons/status.html' %}</th>
                                        <th class="column6"><b>Visualizar</b>  {% include 'icons/eye.html' %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        <tr>
                                            <td class="column1">ELIZEU LISBOA DANTAS</td>
                                            <td class="column2">***.857.959-**</td>
                                            <td class="column4">R$1.100.000</td>
                                            <td class="column5"><span class="badge badge-danger">Anomalo</span></td>
                                            <td class="column6"><a href="/profile/1">{% include 'icons/eye.html' %}</a></td>
                                        </tr>
                                        <tr>
                                            <td class="column1">HORALDO ANTONIO BRANDALISE</td>
                                            <td class="column2">***.646.795-**</td>
                                            <td class="column4">R$756.00</td>
                                            <td class="column5"><span class="badge badge-success">Normal</span></td>
                                            <td class="column6"><a href="/profile/2">{% include 'icons/eye.html' %}</a></td>
                                        </tr>                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Contact section -->
    <div class="w3-container w3-padding-32" id="contact">
        <div class="w3-content" style="max-width:600px">
            <h4 class="w3-center"><b>Sugestões</b></h4>
            <p>Deixem suas sugestões sobre o nosso projeto!</p>
            <form action="/action_page.php" target="_blank">
                <div class="w3-section">
                    <label>Nome</label>
                    <input class="w3-input w3-border" type="text" name="Name" required>
                </div>
                <div class="w3-section">
                    <label>Email</label>
                    <input class="w3-input w3-border" type="text" name="Email" required>
                </div>
                <div class="w3-section">
                    <label>Mensagem</label>
                    <input class="w3-input w3-border" type="text" name="Message" required>
                </div>
                <button type="submit" class="w3-button w3-block w3-black w3-margin-bottom">Enviar Mensagem</button>
            </form>
        </div>
    </div>

    <div class="w3-black w3-center w3-padding-24 ">Pri-Seg</div>

    <!-- End page content -->
</div>

<script>
    // Script to open and close sidebar
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }

    // Modal Image Gallery
    function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
        var captionText = document.getElementById("caption");
        captionText.innerHTML = element.alt;
    }
</script>
{% endblock %}